* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
}

drawer-menu {
  grid-area: menu;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "about";
}

about-info {
  grid-area: about;
  background-color: burlywood;
}

div {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "menu";
}