* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  height: 100vh;
}

add-task {
  grid-area: addtask;
  background-color: cadetblue;
}

task-list {
  grid-area: tasklist;
  background-color: burlywood;
}

div {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "addtask "
    "tasklist";
}